## Access Control

# Always listen for upstream server(s).
interface       listen all

# Restrict connectivity by default.
{% if inventory_hostname in groups['time-server'] %}
restrict        default nomodify nopeer limited
{% else %}
restrict        default ignore
{% endif %}
{% if False %}
# From observation:  Don't bother configuring restrictions by hostname.  Any
# hostname specified as a server/pool will be resolved, and any resulting IP
# address will be added as a server.  Restrictions specified by hostname will
# not apply, but default (most restrictive) will apply.
#
# Instead, specify "source" as the address to write a line configuring all
# sources (servers), regardless of address or address type.
#
# On Devuan Daedalus, "restrict source" is not mentioned in the manual for
# ntp.conf as supplied by the ntpsec package.  It seems to work, though.
{% endif %}
restrict        source nomodify nopeer noquery limited

# Unrestrict local access:
restrict        127.0.0.1
restrict        ::1


## Upstream server(s):
{% if inventory_hostname in groups['time-server'] %}
pool            pool.ntp.org burst
pool            0.debian.pool.ntp.org iburst burst
pool            1.debian.pool.ntp.org iburst burst
pool            2.debian.pool.ntp.org iburst burst
pool            3.debian.pool.ntp.org iburst burst
{% else %}
{% for server in groups['time-server'] %}
server          {{ server }}.{{ domain }} iburst burst
{% endfor %}
{% endif %}


## Other options:
driftfile       /var/lib/ntp/ntp.drift
statistics      loopstats peerstats clockstats
filegen         loopstats file loopstats type day enable
filegen         peerstats file peerstats type day enable
filegen         clockstats file clockstats type day enable
